/* About */

.about i {
  color: #e31c25;
}


#section3 h2,
#section3 h4 {
  color: #343a40;
  font-family: 'Oswald', sans-serif;

}

#section3 p {

  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-weight: 500;
}

#section3 a.btn {

  border: 2px solid #e31c25;
  border-radius: 0%;
  color: #e31c25;
}

#section3 a.btn:hover {

  background-color: #e31c25;
  color: white;
}